<h1>Listing wallpapers</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Quote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wallpapers.each do |wallpaper| %>
  <tr>
    <td><%= wallpaper.url %></td>
    <td><%= wallpaper.quote_id %></td>
    <td><%= link_to 'Show', wallpaper %></td>
    <td><%= link_to 'Edit', edit_wallpaper_path(wallpaper) %></td>
    <td><%= link_to 'Destroy', wallpaper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wallpaper', new_wallpaper_path %>
